@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Serif:ital,wght@1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --padding-conatiner: 100px 0;
    --color-title: #001A49;
}
body{
    font-family: "PT serif", sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-conatiner);
}
.hero{
   width: 100%;
   height: 100vh;
   min-height: 600px;
   max-height: 800px;
   position: relative;
   display: grid;
   grid-template-rows: 100px 1fr;
   color: rgb(225, 239, 22);
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../fotos/mapatux.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 81% 100%, 19% 100%);
    z-index: -1;
}
/*Nav*/
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 400;
}
.nav-link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav-items{
    list-style: none;    
}
.nav-links{
    color: #fff;
    text-decoration: none;
}
.nav-menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav-img{
    display: block;
    width: 30px;
}
.nav-close{
    display: var(--show, none);
}
.hero-container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
}
.hero-title{
    font-size: 3rem;
}
.hero-paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color:rgb(118, 118, 210);
    justify-self: center;
    color: aliceblue;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.about{
    text-align: justify;
background-color: rgb(191, 243, 196);
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about-paragraph{
    line-height: 1.7;
    margin-bottom: 1.5em;
}
.about-main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    
}
.about-history-content {
    display: flex; 
    gap: 3em; 
    align-items: flex-start;
    padding-top: 2em;
}

.about-img {
    flex: 1 1 40%; 
    order: 2;
    margin-top: 1.5em;
}

.history-texts {
    flex: 2 1 60%; 
    order: 1;
}

.about-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.about-icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about-icon{
    width: 40px;
}
.knowledge{
background-color: #fbfbfd;
opacity: 0.8;
background-image:  radial-gradient(#4a267e 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#4a267e 0.8500000000000001px, #fbfbfd 0.8500000000000001px);
background-size: 34px 34px;
background-position: 0 0,17px 17px;
overflow: hidden;
}
.knowledge-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.knowledge-picture{
    max-width: 500px;
}
.knowledge-paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge-img{
    width: 100%;
    display: block;
}
.concert{
    text-align: center;
}
.concert-table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
}
.concert-element{
    background-color: rgb(191, 243, 196);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan:darkslateblue;
    --color-price:#1d293f;
    --bg-cta:#fff;
    --color-cta:#5454d4;
    --color-items: #292871;
}
.concert-name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.concert-place{
    font-size: 2.5rem;
    color: var(--color-price);
}
.concert-items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.news{
    background-color: rgb(118, 118, 210);
}
.news-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.news-body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity:0;
    pointer-events: none;
}
.news-body-show{
    pointer-events: none;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.news-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}
.news-text{
    max-width: 700px;
}
.news-description{
    background-color: rgb(191, 243, 196);
    color: #0000008c;
    display: inline-block;
    padding: 5px;
}
.news-arrow{
    width: 90%;
    cursor: pointer;
}
.footer{
    background-color: rgb(118, 118, 210);
}
.footer-title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer-title, .footer_newsletter{
    color: #1d293f;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 60px;
}
.nav-footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav-link-footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
.footer-inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer-input{
    background-color: aliceblue;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}
.footer-submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #0000008c;
    border: none;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 6px;
}
.footer-copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #0000008c;
}
.footer-copyright{
    font-weight: 700;
}
.footer-icons{
    display: inline-flex;
    margin-bottom: 10px;
}
.footer-img{
    width: 20px;
    margin-left: 30px;
}